body{
    display:inline;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
}
.form-select{
    border-top: none;
    border-left: none;
    border-right: none;
}

.custom-file{
    display: none;
}
button{
    visibility: none;
}